/* Footer.css */
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: relative;
  }
  
  .footer h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer p,
  .footer a {
    font-size: 16px;
    margin: 0;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer .row {
    width: 100%;
  }
  
  .footer .col-md-4 {
    flex: 0 0 30%;
    margin-bottom: 20px;
  }
  
  .footer .text-center {
    text-align: center;
    flex: 0 0 100%;
  }
  